doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" href="http://localhost:3000/images/favicon.ico?v=2")
		script(src='./javascripts/jquery-2.2.3.js')
		script.
			window.App = new Object;
		title= title
	body
	block content